@model IEnumerable<UserViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Localizer["Email"]</th>
                <th>@Localizer["Roles"]</th>
                <th>@Localizer["Edit"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.User.Email</td>
                    <td>@string.Join(", ", item.Roles)</td>
                    <td>@Html.ActionLink(Localizer["Edit"].Value, "Edit", "Users", new { item.User.Id }, new { @class = "btn btn-primary" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
